/* Queries */

@media only screen and (max-width:875px) {
    #labels {
        position:absolute!important;
        top:0!important;
        left:0!important;
        min-width:calc(100% - 2em)!important;
        width:calc(100% - 2em)!important;
    }

    #labels {
      position:relative!important;
    }

    .lin:nth-child(2), #tracks {
        margin-top:0px!important;
    }

    .lin {
        min-width:calc(100% - 2em)!important;
        width:calc(100% - 2em)!important;
    }

    #infobar {
        width:100%!important;
        border:0!important;
        overflow:hidden;
        border-bottom:1px solid #e5e5e5!important;
    }

    #menuwrap {
      overflow-y:auto!important;
    }

    #menuinfo {
      height:calc(100% + 45px + 1em);
    }

    .wrap {
        min-width:calc(100% - 4em)!important;
        width:calc(100% - 4em)!important;
        padding:1.5em 2em!important;
    }

    #tracks {
        margin-bottom:130px!important;
        min-width:100%!important;
        overflow-y:auto!important;
        width:100%!important;
    }

    #tracks, #infobar {
        display:block!important;
        position:relative!important;
        clear:both!important;
    }

     #playerbar {
         width:calc(100% - 4em)!important;
         padding:1em 2em 2em 2em!important;
     }
}

/* Scrollbar */

::-webkit-scrollbar {
    height:3px;
    width:5px;
    background:#cccccc;
}

::-webkit-scrollbar-thumb {
    background:#333333;
    border-radius:5px;
}

::-webkit-scrollbar-track {
    background:#cccccc;
}

/* Basics */

body {
    color:#000000;
    background:#f5f5f5;
    font-family:roboto mono, sans-serif;
    letter-spacing:0.05em;
    font-size:13px;
    margin:0;
    padding:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a, #currentTrack, #currentArtist {
    color:#1753b7;
    text-decoration:none;
    border:0;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

a:hover, #seeCurrent:hover, #scrollTo:hover, #mode:hover {
    color:#a1aec4;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

#title a, #title a:hover {
    font-size:1.4em;
    color:#000;
    line-height:150%;
    font-weight:bold;
    border-bottom:2px solid #1753b7;
}

#labels, #desc, #title, #defined, #menuwrap {
    font-size:1.15em;
    font-family:nunito, sans-serif;
}

#buttons div, .tune, #bars, #loadmore, #mode, #note, #currently, #seeCurrent, #scrollTo {
    cursor:pointer;
}

#mode #day, #defined, .lin svg, #currently svg, #note {
    display:none;
}

audio {display:none!important;}

#infobar, .wrap, #mode, #tracks, #labels, #playerbar, #note {
  background:#ffffff;
}

/* Info */

#infobar {
    top:0;
    right:0;
    position:fixed;
    border-left:1px solid #e5e5e5;
    height:100%;
    width:calc(27.5% - 1px);
}

.wrap {
    width:calc(100% - 4em);
    padding:1.5em 2em;
}

.wrap:first-child {
    margin-bottom:1em;
}

#desc {
    margin:2em 0em;
}

.search .input {
    width:calc(100% - 2em);
    padding:0.5em 1em;
    font-size:1em;
    font-family:roboto mono, monospace;
    border-radius:7px;
    border:1px solid #eeeeee;
    outline:0;
    background:#f5f5f5;
}

#tagbar .input {
  font-size:0.85em;
  background:#eff5ff;
  border:1px solid #d5e0f2;
}

#tagbar {
  margin-bottom:1em;
}

.bodyfilter {
    height:auto;
    width:auto;
    background:#222222!important;
}

.filtered {
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

#currentTrack {
    font-weight:bold;
}

#defined, .wrap:nth-child(2) {
    border-bottom:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
}

#defined {
  margin-top:1em;
  padding:1em 2em!important;
  margin-bottom:2em;
}

#currentUser {
    text-transform:lowercase;
}

#more {
	display:none;
	font-weight:bold;
}

#seeCurrent {
	color:#5e8fe0;
}

#scrollTo {
	color:#3b78dd;
}

/* Menu */

#menu #open {
  margin-top:-0.4em;
  width:0.8em;
}

#menu #close {
  width:1.5em;
  margin-top:-0.4em;
  margin-left:-0.2em;
  display:none;
}

#menu {
  float:right;
  text-align:center;
  border-radius:100%;
  padding:0.5em;
  width:1.2em;
  height:1.2em;
  border:1px solid #e5e5e5;
  display:inline-block;
  cursor:pointer;
}

#menuwrap {
  display:none;
  z-index:9999999999;
  right:0;
  margin-top:0.5em;
  position:absolute;
  height:100%;
  width:100%;
  background:#ffffff;;
}

#menuinfo {
  background:#ffffff;
  width:100%;
  border-radius:7px;
}

#menuinfo .wrap {
  margin-bottom:0.5em!important;
}

#menuinfo p:first-child {
  margin-top:0;
}

.icon {
  font-size:0.9em;
  margin-right:0.6em;
}

#mode {
    height:1.2em;
    color:#1753b7;
    display:inline-block;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}

#menuinfo .section {
  margin:2em 0em;
}

.filtertype {
  color:#999999;
  border-radius:7px;
  display:inline-block;
  margin:1em;
  margin-top:0;
  margin-left:0;
  cursor:pointer;
}

.filtertype:hover, .filterout {
  color:#1753b7;
  font-weight:bold;
}

#notif {
  font-weight:bold;
  display:none;
  color:crimson;
}

/* Tracks */

#tracks {
    text-align:left;
    position:fixed;
    top:0;
    left:0;
    overflow-y:scroll;
    min-height:4em;
    width:72.5%;
    margin-top:45px;
    height:calc(100% - 45px - 130px);
}

#labels {
    position:fixed;
    width:calc(72.5% - 2em);
    z-index:9999;
    border-bottom:1px solid #e5e5e5;
    padding:0.8em 1em 0.5em 1em!important;
    height:25px;
}

#tracks .lin {
    padding:1em;
    display:block;
}

.lin div {
    width:calc(50% - 2em);
    padding-right:1em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

.lin div:first-child {
    font-weight:bold;
}

.highlight {
    color:#769cdb!important;
}

.lin svg, #currently svg {
    vertical-align:middle;
    margin-right:1.5em;
}

.highlight svg {
    display:inline-block!important;
}

.tune {
    background:#f7f7f7;
    color:#333333;
}

.lin:nth-child(even) {
    background:#eaeaea!important;
}

#loadmore {
    background:#d9d9d9!important;
    color:#000000!important;
    font-weight:bold!important;
    transition:0.8s;
}

#loadmore:hover {
    background:#f3f3f3!important;
    transition:0.8s;
}

/* Player */

#playerbar {
    width:calc(100% - 12em);
    padding:1em 6em 2em 6em;
    z-index:99999999;
    position:fixed;
    bottom:0;
    left:0;
    border-top:1px solid #e5e5e5;
    height:calc(129px - 3em);
}

#buttons {
    opacity:0;
    text-align:center;
}

#buttons div {
    display:inline-block;
    vertical-align:middle;
    margin:0.55em 1.55% 0.65em 1.55%;
}

.on {
    opacity:0.4!important;
}

#active {
    padding-top:2px;
}

#buttons div:hover {opacity:0.6;}

#progressbg, #progress, #loading {
    height:5px;
    border-radius:7px;
    background:blue;
}

#progress, #loading {
    margin-top:-5px;
    position:absolute;
}

#progressbg {
    margin-top:0px;
    opacity:0.1;
}

#progress {
    opacity:1;
    z-index:999999;
}

#loading {
    opacity:0.2;
    z-index:99999;
}

#progressnum {
    margin-top:1em;
    display:block;
    position:relative;
    clear:both;
}

#progressnum span {
    font-size:0.8em;
}

#currenttime {
    float:left;
}

#currentdura {
    float:right;
}

.error {
    opacity:0.5!important;
}

/* Note - Triggered by scroll for small screens */

#note {
    position:fixed;
    top:1.25em;
    right:1.5em;
    padding:0.5em 0.8em;
    border-radius:100%;
    border:1px solid #e5e5e5;
    font-size:1em;
    z-index:999999999!important;
}
